<div class="child-2-container" *ngIf="noProductData">
    <div *ngFor="let product of products">
        <div *ngIf="showProductDetail">
            <app-product-detail [productDetails]="product" (goBackEvent)="viewProductList($event)"></app-product-detail>
        </div>  
        <div *ngIf="!showProductDetail">
            <app-product-card [product]="product" (productDetailEvent)="viewProductDetails($event)"></app-product-card>
        </div>  
    </div>
</div>
<div class="no-data-container" *ngIf="!noProductData">
    <h4>No products found!</h4>
</div>
