<div class="main-container">
    <mat-toolbar color="primary">
        <span>Digital Vision</span>
        <button mat-flat-button color="accent">Logout</button>
    </mat-toolbar>
    <mat-drawer-container>
        <div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="20px">
            <div fxFlex>
                <button mat-stroked-button (click)="navigateToProductForm()">Create a new product</button>
                <button mat-stroked-button >User Permission</button>
            </div>
            <div>
                <router-outlet></router-outlet>
            </div>
        </div>
        
    </mat-drawer-container>
</div>



